@model List<FitnessTime.Models.FinanceUser>

<!DOCTYPE HTML>
<html>
<head>
    <title>Explore Staff - FitnessTime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/AdminPanel/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/AdminPanel/style.css" rel='stylesheet' type='text/css' />
    <!-- font CSS -->
    <!-- font-awesome icons -->
    <link href="~/Content/AdminPanel/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="~/Scripts/AdminPanel/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/AdminPanel/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!--animate-->
    <link href="~/Content/AdminPanel/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/AdminPanel/wow.min.js"></script>
    <script>
		 new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- chart -->
    <script src="~/Scripts/AdminPanel/Chart.js"></script>
    <!-- //chart -->
    <!--Calender-->
    <link rel="stylesheet" href="~/Content/AdminPanel/clndr.css" type="text/css" />
    <script src="~/Scripts/AdminPanel/underscore-min.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminPanel/moment-2.2.1.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminPanel/clndr.js" type="text/javascript"></script>
    <script src="~/Scripts/AdminPanel/site.js" type="text/javascript"></script>
    <!--End Calender-->
    <!-- Metis Menu -->
    <script src="~/Scripts/AdminPanel/metisMenu.min.js"></script>
    <script src="~/Scripts/AdminPanel/custom.js"></script>
    <link href="~/Content/AdminPanel/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!--left-fixed -navigation-->
        <div class=" sidebar" role="navigation">
            <div class="navbar-collapse">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="~/Admin/Index" ><i class="fa fa-bar-chart nav_icon"></i>Business Analysis</a>
                        </li>
                        <li>
                            <a href="~/Admin/CustomerRequests"><i class="fa fa-users nav_icon"></i>New Requests</a>
                        </li>
                        <li class="">
                            <a href="~/Admin/CreateNews"><i class="fa fa-bullhorn nav_icon"></i>Create News</a>
                        </li>
                        <li>
                            <a href="~/Admin/AddExpenses"><i class="fa fa-pencil-square-o nav_icon"></i>Add Expenses</a>
                        </li>
                        <li>
                            <a href="~/Admin/AddStaff"><i class="fa fa-user nav_icon"></i>Add Staff</a>
                        </li>
                        <li class="">
                            <a href="~/Admin/ExploreStaff" class="active"><i class="fa fa-male nav_icon"></i>Explore Staff</a>
                        </li>
                        <li>
                            <a href="~/Admin/SearchPeople"><i class="fa fa-search-plus nav_icon"></i>Explore Customers</a>
                        </li>
                        <li>
                            <a href="~/Admin/ProfileSettings"><i class="fa fa-cogs nav_icon"></i>Profile Settings</a>
                        </li>
                        <li>
                            <a href="~/Admin/UpdateFee" class="chart-nav"><i class="fa fa-key nav_icon"></i>Update Fee</a>
                        </li>
                    </ul>
                    <!-- //sidebar-collapse -->
                </nav>
            </div>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <!--logo -->
                <div class="logo">
                    <a href="~/Admin/Index">
                        <h1>FitnessTime</h1>
                        <span>AdminPanel</span>
                    </a>
                </div>
                <!--//logo-->

                <div class="clearfix"> </div>
            </div>
            <div class="header-right">
                <div class="profile_details_left">
                    <!--notifications of menu start -->
                    <ul class="nofitications-dropdown"></ul>
                    <div class="clearfix"> </div>
                </div>
                <!--notification menu end -->
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="~/images/Profile/@Session["Picture"]" alt="" width="50" height="50" style="border-radius: 50%"> </span>
                                    <div class="user-name">
                                        <p>@Session["Name"]</p>
                                        <span>Administrator</span>
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="~/Admin/ProfileSettings"><i class="fa fa-user"></i> Profile</a> </li>
                                <li> <a href="~/Admin/Logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="col-lg-12 compose-right widget-shadow" style="width:95%;">
                <div class="panel-default">
                    <div class="panel-heading">
                        Explore your Staff
                    </div>

                    <div class="panel-body">
                        <div class="tables" style="margin:0px; padding:0px;">
                            <div class="bs-example widget-shadow" style="margin:0px; padding:0px; min-height:400px" data-example-id="hoverable-table">
                                @if (Model != null)
                                {
                                    <div class="col-sm-8 pull-left">
                                        <h4 class="padding-t-5">All of your Staff</h4>
                                        <p style="margin-top:0px;"><i>Block/unblock your Staff Members...</i></p>
                                    </div>
                                    <div class="col-sm-4 pull-right margin-top">
                                        <div class="input-group">
                                            <input type="text" class="input-sm form-control light-table-filter" placeholder="Search" data-table="order-table">
                                            <script>
                                            (function (document) {
                                                'use strict';

                                                var LightTableFilter = (function (Arr) {

                                                    var _input;

                                                    function _onInputEvent(e) {
                                                        _input = e.target;
                                                        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                                                        Arr.forEach.call(tables, function (table) {
                                                            Arr.forEach.call(table.tBodies, function (tbody) {
                                                                Arr.forEach.call(tbody.rows, _filter);
                                                            });
                                                        });
                                                    }

                                                    function _filter(row) {
                                                        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                                                        row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                                                    }

                                                    return {
                                                        init: function () {
                                                            var inputs = document.getElementsByClassName('light-table-filter');
                                                            Arr.forEach.call(inputs, function (input) {
                                                                input.oninput = _onInputEvent;
                                                            });
                                                        }
                                                    };
                                                })(Array.prototype);

                                                document.addEventListener('readystatechange', function () {
                                                    if (document.readyState === 'complete') {
                                                        LightTableFilter.init();
                                                    }
                                                });

                                            })(document);
                                            </script>
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-default" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </div>

                                        <table id="myTable" class="table table-hover order-table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Phone Number</th>
                                                    <th>Authority</th>
                                                    <th>Type</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (FitnessTime.Models.FinanceUser user in Model)
                                                {
                                                    <tr id="tr+@user.Id">
                                                        <th scope="row">@user.Name</th>
                                                        <td>@user.Email</td>
                                                        <td>@user.PhoneNumber</td>
                                                        <td>@user.Authority</td>
                                                        <td>@user.Type</td>
                                                        <td>
                                                            @if (@user.Authority == "Admin") { }
                                                            else if (@user.Status == "Block")
                                                            {
                                                                <div id="abc+@user.Id">
                                                                    <button class="center-block btn btn-danger col-sm-12 padding-5" id="@user.Id" onclick="Unblock(this)">Unblock</button>
                                                                </div>
                                                            }
                                                            else if (@user.Authority != "Customer")
                                                            {
                                                                <div id="abc+@user.Id">
                                                                    <button class="center-block danger col-sm-12 padding-5" id="@user.Id" onclick="Block(this)"><i class="fa fa-ban text-danger text"></i></button>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                if (user.Amount > 0)
                                                                {
                                                                    <div id="abc+@user.Id">
                                                                        <button class="center-block col-sm-6 padding-5" id="@user.Id" onclick="VerifyFee(this.id)"><i class="fa fa-check text-success text-active"></i></button>
                                                                        <button class="center-block danger col-sm-6 padding-5" id="@user.Id" onclick="Block(this)"><i class="fa fa-ban text-danger text"></i></button>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div id="abc+@user.Id">
                                                                        <button class="center-block danger col-sm-12 padding-5" id="@user.Id" onclick="Block(this)"><i class="fa fa-ban text-danger text"></i></button>
                                                                    </div>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                }
                                else
                                {
                                    <div class="col-lg-12 text-center padding-5">
                                        <h3>You don't have any Community right now...</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                }

                                <script>
                                    function VerifyFee(id) {
                                        document.getElementById("abc+" + id).style.visibility = 'hidden';
                                        var amount = document.getElementById("am+" + id).value;
                                        $.getJSON("/Admin/VerifyFee?id=" + id + "&am=" + amount, function (msg) {
                                            document.getElementById("abc+" + id).innerHTML = 'Fee Accpeted';
                                            document.getElementById("abc+" + id).style.visibility = 'visible';
                                        });
                                    }

                                    function Block(r) {
                                        var id = r.id;
                                        document.getElementById("abc+" + id).style.visibility = 'hidden';
                                        $.getJSON("/Admin/Block?id=" + id, function (msg) {
                                            document.getElementById("abc+" + id).innerHTML = 'Blocked';
                                            document.getElementById("abc+" + id).style.visibility = 'visible';
                                        });
                                    }

                                    function Unblock(r) {
                                        var id = r.id;
                                        document.getElementById("abc+" + id).style.visibility = 'hidden';
                                        $.getJSON("/Admin/Unblock?id=" + id, function (msg) {
                                            document.getElementById("abc+" + id).innerHTML = 'Unblocked';
                                            document.getElementById("abc+" + id).style.visibility = 'visible';
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        <!-- main content end-->
        <!--footer-->
        <div class="footer">
            <p>&copy; 2018 <a href="~/Admin/Index">FitnessTime</a>. All Rights Reserved</p>
        </div>
        <!--//footer-->
    </div>
    <!-- Classie -->
    <script src="~/Scripts/AdminPanel/classie.js"></script>
    <script>
                    var menuLeft = document.getElementById('cbp-spmenu-s1'),
                        showLeftPush = document.getElementById('showLeftPush'),
                        body = document.body;

                    showLeftPush.onclick = function () {
                        classie.toggle(this, 'active');
                        classie.toggle(body, 'cbp-spmenu-push-toright');
                        classie.toggle(menuLeft, 'cbp-spmenu-open');
                        disableOther('showLeftPush');
                    };


                    function disableOther(button) {
                        if (button !== 'showLeftPush') {
                            classie.toggle(showLeftPush, 'disabled');
                        }
                    }
    </script>
    <!--scrolling js-->
    <script src="~/Scripts/AdminPanel/jquery.nicescroll.js"></script>
    <script src="~/Scripts/AdminPanel/scripts.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/AdminPanel/bootstrap.js"> </script>
</body>
</html>